/* titulo de campos obligatorios*/
.obligacion{
    text-decoration: underline;
    /* margin-bottom: 15px; */
}


/* spans */

span {
    color: red;
}

/* Estilos de inputs */
.primerInput {
    /* margin-top: 150px; */
}

label {
    font-weight: bold;
}

.label-s {
    margin-right: 15px;
    margin-left: 15px;
}

/* Cuerpo central */

.cuerpoCentral {
    /* width: 50%; */
    /* margin-top: 170px; */
    box-shadow: 10px 10px 25px 14px  gray;

}

/* inputs */
.inputes {
    padding-left: 25px;
}

.row {
    margin-top: 20px;
}

/* checkbox */
.checkboxestyle {
    padding-left: 25px;
}

/* boton de envio de formulario */

.send-btn {
    margin-bottom: 20px;
    background-color: #4A90E2;
    font-weight: bold;
    color: white;
}

/* boton de cancel de formulario */

.cancel-btn{
    margin-bottom: 20px;
    font-weight: bold;
    /* color: white; */
    width: 50%;
    
}

/* eliminar padding de los form control */
.input-largo {
    height: 250px;
    /* width: 350px; */
}

.container {
    width: 50rem;
    padding: 0;
    background-color: white;
}


/* estilos ventana modal */

.modal-container{
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    margin-top: 170px;
    width: 40%;
    height: 50%;
    background-color: #fff;
    /* display: block; */
}