* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c7dccb;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

.logo {
    height: 200px;
    width: 200px;
    position: relative;
    top: 40px;
}

.logoCel {
    height: 70px;
    width: 70px;
}

.navbarLg {
    height: 7rem;
}

.offcanvas-body,
.offcanvas-header {
    background-color: #242C44;
}

.offcanvas {
    max-width: 60%;
}

.nav-link {
    font-size: 2rem;
}

footer {
    height: 80px;
    background-color: #242C44;
}

.navbar {
    background-color: #242C44;
}

.img1 {
    background-image: url(/IMG/quienesSomos1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url(/IMG/quienesSomos2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url(/IMG/quienesSomos3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    margin-top: 170px;
    margin-bottom: 100px;
}

@media (max-width: 991px) {

    .img1,
    .img2,
    .img3 {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        height: 200px;
    }

    .txt1,
    .txt2,
    .txt3 {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: auto;
    }

    .divRow {
        height: auto;
    }
}

@media (min-width: 992px) {

    .img1,
    .txt2,
    .img3 {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 100%;
    }

    .txt1,
    .img2,
    .txt3 {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 100%;
    }

    .divRow {
        height: 400px;
    }
}

.txtMain {
    background-color: rgb(47, 44, 123);
    color: #c7dccb;
}