* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

.logo {
    height: 200px;
    width: 200px;
    position: relative;
    top: 40px;
}

.logoCel {
    height: 70px;
    width: 70px;
}

.navbarLg {
    height: 7rem;
}

.offcanvas-body,
.offcanvas-header {
    background-color: #242C44;
}

.offcanvas {
    max-width: 60%;
}

.nav-link {
    font-size: 2rem;
}

.containerLinks {
    margin-top: 170px;
}

main {
    margin-bottom: 100px;
}

footer {
    height: 80px;
    background-color: #242C44;
}

.navbar {
    background-color: #242C44;
}

.divLinks {
    height: 200px;
}

.linkAdoptar {
    background-image: url(/IMG/adoptar.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.linkServicio {
    background-image: url(/IMG/servicios.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.linkProductos {
    background-image: url(/IMG/productos.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.linkNosotros {
    background-image: url(/IMG/quienesSomos.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.aAdoptar {
    text-decoration: none;
    color: red;
}

.aServicio {
    text-decoration: none;
    color: black;
}

.aProductos {
    text-decoration: none;
    color: black;
}

.aNosotros {
    text-decoration: none;
    color: red;
}